<p>add-customer</p>
<form #myform=ngForm (ngSubmit)= "addCustomer(myform)" >
    <label>Customer Name</label> &nbsp;
    <input type="text" name= "name" ngModel> 
<br>
    <label>Balance</label> &nbsp; 
    <input type="number" name= "balance" ngModel> 
<br>
    <input type="submit" value="submit">
</form>

<div *ngIf="customer!=undefined">
    <h3>Added Customer</h3>
    Submitted data is {{customer.id}}
     {{customer.name}} 
     {{customer.balance}}
    </div>

    <!-- <table >
        <tr>
        <th>Id</th>
        <th>customer name</th>
        <th>balance</th>
        </tr>
     <tr >
       <td >{{customer.id}}</td>
       <td >{{customer.name}}</td>
       <td >{{customer.balance}}</td>
    </tr>
    </table> -->